body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 247, 247);
}
 
#quiz-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}
 
#choices-container {
    margin-top: 10px;
}
 
 
button {
    margin-right: 75px;
    margin-top: 8%;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4f98c2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    text-align: center;
}

#initials-input {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
}

#save-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4f98c2;
    color: white;
    border: none;
    cursor: pointer;
}

#save-btn:hover {
    background-color: #45a049;
}

#restart-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4f98c2;
    color: white;
    border: none;
    cursor: pointer;
}

#restart-btn:hover {
    background-color: #45a049;
}
 
